:root {
  --theme-color: #E0354B;

  --section-border: 3px solid var(--theme-color)
}

html {
  box-sizing: border-box;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
}

.App {
  position: relative;
  min-height: 100vh;
}

/* App header 
============================*/
.App-header {
  border-bottom: var(--section-border);
  display: flex;
  align-items: center;
}

.App-header img.logo {
  height: 200px;
}

.App-header h1 {
  display: inline-block;
  color: var(--theme-color);
}

/* App body
================================== */
.App-body p{
  padding-left: 40px;
  padding-top: 60px;  
}


/* App footer
====================================== */
.App-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  border-top: var(--section-border);
  padding: 10px;
}

.App-footer p {
  font-style: italic;
}